body{
    margin: 0;
    padding: 0;
}
.content-video{
    min-width: 400px;
    max-width: 400px;
}
.video{
    width: 100%
}
button{
    background-color: rgb(46, 45, 45);
    padding: 5px 10px;
    border-radius: 5px;
    border: 0;
    color: white;
    top: -35px;
    left: 5px;
    position: relative;
}
button:hover{
    background-color: rgb(20, 20, 20);
}
.gallery{
    background-color: rgb(104, 103, 103);
}
img{
    background-color: rgb(104, 103, 103);
    float: left;
    border: 2px solid transparent;
    width: 25%;
    box-sizing: border-box;
}
#artc{
    display: block;
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
    background: yellow;
    margin: auto;
    text-align: center;
}
.adjacent{
    margin: 5px;
    border: 1px solid red;
    text-align: center;
}
#clock{
    height: min-content;
}
#clock h2{
    margin: 0;
}
#clock p{
    background: rgb(110, 104, 104);
    border: 5px solid rgb(163, 150, 75);
    font-size: 30px;
    color: rgb(192, 189, 189);
    width: min-content;
    padding: 5px;
    text-align: center;
    margin: 2px auto;
}